/* Hero Section Styles */
.hero-section {
    background-image: url(../images/beost/inicio\ casa.jpg);
    padding: 100px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section > .top-heading {
    padding: 1px 20px;
    background-color: #11122b;
    color: #cbcbcb;
    width: 290px;
    border-radius: 2px;
}

.hero-section > .bottom-heading {
    background-color: #cea135;
    color: #11122b;
    padding: 1px 20px;
    margin-top: 15px;
    width: 107px;
    border-radius: 2px;
}

/* Estilos para dispositivos móviles (imagen estática y completa) */
@media (max-width: 768px) { /* Ajusta el valor 768px según tus necesidades */
    .hero-section {
        background-attachment: scroll; /* Desactiva el efecto parallax */
        height: auto; /* Ajusta la altura según el contenido */
        min-height: 300px; /* Asegura que la sección tenga al menos 300px de altura */
        padding: 50px 20px; /* Ajusta el padding para dispositivos móviles */
        background-position: center top; /* Alinea la imagen en la parte superior */
    }
}

/* Features section styles */
.features-section {
    height: 400px;
    background-image: url(../images/backgrounds/fries-multiply-bg.jpg);
    background-color: #cea135;
    border-top: 0px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu Condensed", sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.features-section > .columns-wrapper {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.features-section > .columns-wrapper > .column {
    padding: 15px;
    margin: 25px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column:hover {
    border-bottom: 5px solid #11122b;
}

.features-section > .columns-wrapper > .column :nth-child(1) {
    font-size: 3em;
}

.features-section > .columns-wrapper > .column :nth-child(2) {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.features-section > .columns-wrapper > .column :nth-child(2):hover {
    letter-spacing: 1px;
}

.features-section > .columns-wrapper > .column :nth-child(3) {
    letter-spacing: 2px;
}

.email-link {
    color: white;           /* Color blanco para el texto del enlace */
    text-decoration: none;  /* Elimina el subrayado del enlace */
}

.email-link:hover {
    color: #cea135;          /* Color amarillo para el texto del enlace al pasar el cursor por encima */
}

.map-container {
    position: relative;
    padding-bottom: 55%; /* Esto determina la proporción del mapa, 56.25% es 16:9. Puedes ajustarlo según tus necesidades. */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
    .map-container {
        padding-bottom: 75%; /* Proporción 4:3 para pantallas móviles */
    }
}